/* 
.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; 
}*/

*{
    margin: 0px;
    padding: 0px;
}

button:hover{
    background-color: darkblue;
}

body{
    background-color: #F5FBFF;
}

/* .logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1140px;
    gap: 909px;
} */

.header{
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    max-height: 698px;
    max-width: 100%;
}


/* Navbar Section */


nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 909px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0px;
}

nav h1{
    font-family: "Open Sans", sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
}
.btn-1{
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    font-family: "Raleway", sans-serif;
}

nav ul li{
    list-style: none;
    margin-right: 38px;
}

nav li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/* Banner Section */

.banner{
    text-align: center;
    padding-bottom: 152px;
}

.banner h1{
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    font-weight: bold;
}

.btn-2{
    margin-top: 37px;
    width: 174px;
    height: 48px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    font-family: "Raleway", sans-serif;
}


/* main style */


/* Action section */

.action-section{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 116px 159px 116px 140px;
    
}

.action-left-side{
    padding: 62.5px 220px 62.5px 0px;
    display: block;
    
}

.img1{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

.title{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 23px;
}

.subtitle{
    font-size: 24px;
    opacity: 50%;
    padding-bottom: 23px;
}


.btn-3{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4E47FF;
    width: 229px;
    height: 48px;
    border-radius: 10px;
    border: none;
    margin-top: 28px;
    cursor:pointer;
    font-family: "Raleway", sans-serif;
}

/* Productive Users Section */

.productive-section{
    background-color: rgb(78, 71, 250, 10%);
    max-width: 1140px;
    max-height: 306px;
    margin: 116px 159px 0px 140px;
    padding: 80px 50px 40px 50px;
    border-radius: 24px;
    
}

.productive-title{
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin: 0px 142px 40px 142px;
}

.all-data{
    display: flex;
    justify-content: space-around;
     margin: 30px 142px 0px 142px;
}


.data-3{
    margin-top: 42px;
}

.data{
        font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    

}

.data-subtitle{
    font-size: 20px;
    opacity: 20%;
}


  /* Let’s Get In Touch Section */

  .touch{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    max-height: 632px;
    margin: 10px 159px 100px 140px;
    gap: 100px;
    align-items: center;
}

.section-title{
    font-family: "Raleway", sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: black;
    padding-bottom: 10px;
}

.let-section{
    width: 528px;
    height: 232px;
}
.touch-section{
    width: 497px;
    height: 290px;
    padding: 71px 0px;
    margin-top: 71px;
}


.touch-section label{
    font-size: 18px;
    font-weight: bold;
}

.form-box{
    height: 24px;
    border-radius: 10px;
    background-color: #000000 50%;
    display: block;
    width: 93%;
    border: none;
    font-size: 12px;
    padding: 20px 0px 20px 32px;
    margin-bottom: 24px;
}

.btn-4{
    margin-top: 37px;
    width: 497px;
    height: 62px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    font-family: "Raleway", sans-serif;
}

.hov:hover{
    background-color: darkblue;
}




/* footer section */

.footer-main{
    max-width: 1440px;
    max-height: 428px;
    background-color: #ffffff;
    margin: 0 auto;
   

}
.footer-section{
   max-width: 532PX;
   max-height:221px ;
   /* margin: 104px 455px 103px 454px; */
   padding: 104px 455px 103px 454px;

}

.footer-logo{
    text-align: center;
    color: #4E47FF;
    font-weight: 900;
    font-size: 45px ;
    font-family: "Inter", sans-serif;
    line-height: 1;
}
.footer-sub-title{
    padding-top: 8px;
    text-align: center;
    font-size: 16px;
    color: #8987A1;
}
.footer-links{
    padding-top: 20px;
     display: flex;
    justify-content: space-around;
    font-size: 16;
    color: #8987A1;
}